/*
 * Copyright (c) 2020 MyKeeper
 * -----
 * Created Date: Thursday December 31st 2020
 */
 //$aquamarine: aquamarine;


 #col1 {
	background-color: aquamarine;
}

#col2 {
	background-color: beige;
}
#col3 {
	background-color: lightpink;
}


.card-header{
	background-color: bisque;
}
