/*
 * Copyright (c) 2020 MyKeeper
 * -----
 * Created Date: Tuesday December 29th 2020
 */

 .ContactLists {
    form {
        margin: 0 auto;
        max-width: 320px;
    }
 }


 ul { 
	display: inline-block; 
	text-align: left; 
    }
    

