/*
 * Copyright (c) 2020 MyKeeper
 * -----
 * Created Date: Saturday December 26th 2020
 */


 #progressbar {
    width: 300px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
      overflow: hidden;
    counter-reset: step;
  
    li {
      list-style-type: none;
      color: lightslategrey;
      text-transform: uppercase;
      font-size: 9px;
      width: 33.33%;
      float: left;
      position: relative;
  
      &:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        color: white;
        background: lightslategrey;
        border-radius: 3px;
        margin: 0 auto 5px auto;
      }
  
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightslategrey;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1;
      }
  
      &:first-child:after {
        content: none;
      }
    }
  
    li.active {
      &:after, &:before {
        background: lightgreen;
        color: white;
      }
    }
  }