/*
 * Copyright (c) 2020 MyKeeper
 * -----
 * Created Date: Saturday December 26th 2020
 */
 body {
  font-family: Muli,arial,sans-serif;
  font-size: 48px;
}

.App {
  text-align: center;
}

 header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    background: lightslategrey;
    color: white;
  
    h3 {
      margin: 0;
    }
  }